<h2>Event Index</h2>

<a href="/events/new">Create Event</a>

<div class="columns is-multiline">
  <% events.forEach(event => { %>
    <div class="column">
    <a href="/events/<%=event._id%>"><%= event.name %></a>
    </div>
  <% }) %>
</div>
