body {
  background: slateGrey;
  font-family: 'Exo 2', sans-serif;
}
a.test {
  color: papayawhip;
  background-color: chartreuse;
  border: 2px solid saddleBrown;
}
h2.header {
  padding: 10px;
  margin: 5px;
}
body div.container {
  background: peachpuff;
}
textarea {
  resize: none;
  width: 100%;
  font-size: 20px;
}
p.venue-description {
  height: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.is-vertical-center {
  display: flex;
  align-items: center;
  //flex-direction: column;
  justify-content: space-between;
  background-color:rgb(170,207,199);
}
.user-details {
  font-size: 20px;
}
.description-box {
  background-color: rgb(79, 73, 104);
}

.container-decoration {
  background-color: rgb(236, 250, 196);
}

// ul.profile-details {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }
