body {
  background: slateGrey;
  font-family: 'Exo 2', sans-serif;
}

.container a:hover, .container a:visited, .container a:link, .container a:active {
  text-decoration: none !important;
  color: rgb(79, 73,104) !important;
}

h2.header {
  font-size: 40px;
  padding: 10px;
  margin: 5px;
}

textarea {
  resize: none;
  width: 100%;
  font-size: 20px;
}
p.venue-description {
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.is-vertical-center {
  display: flex;
  align-items: center;
  //flex-direction: column;
  justify-content: space-between;
}
.user-details {
  font-size: 20px;
}
.description-box {
  background-color: rgb(170,207,199);
}

.container-decoration {
  background-color: rgb(236, 250, 196);
}

.page-head {
  text-align: center;
  color: rgb(236, 250, 196);
  font-size: 30px;
  font-weight: bolder;
  margin-top: 20px;
  background-color: slateGrey;
}

.picture-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: slateGrey;
}

.details-box {
  background-color: rgb(170, 207, 199);
}
.nav-box {
  background-color: rgb(170, 207, 199);
}

// ul.profile-details {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }
