<nav class="navbar nav-box" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">SHOW HUNTERS
      <%# <img src="/images/logo.png" alt="Plectrums" width="112" height="28"> %>
    </a>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <% if (locals.isLoggedIn) {%>
        <a href="/users/<%=locals.currentUser._id%>" class="navbar-item">Hi <%= locals.currentUser.username %></a>
        <a href="/logout" class="navbar-item">Log out</a>
        <p class="navbar-item">Upcoming Gatherings:</p>
        <% locals.currentUser['eventsAttending'].forEach(key => { %>
          <% console.log(key); %>
          <a href="/events/<%=key.id%>" class="navbar-item"><%= key.name %></a>
        <% }) %>
      <% } else { %>
        <a href="/login" class="navbar-item">Log in</a>
        <a href="/registration" class="navbar-item">
        New User
        </a>
      <% } %>
    </div>
    <div class="navbar-end">
      <a href="/venues" class="navbar-item">
        Places to be
      </a>
      <a href="/users" class="navbar-item">
        Socialites
      </a>
      <a href="/events" class="navbar-item">
        Gatherings
      </a>
    </div>
  </div>
</nav>
