<h2 class="header"><%= name %></h2>
<div class="tile is-ancestor">
  <!-- All other tile elemnts -->
  <div class="tile">
    <img src="<%= image %>" alt="<%= name %>">
    <a class="test" href="#">Where to find me</a>
    <p><%= location %></p>
  </div>

</div>
