<h2>New User</h2>

<form action="/registration" method="POST">
  <% Object.keys(template).forEach(key => { %>
    <div class="field">
      <label class="label"> <%=key.toUpperCase()%></label>
      <div class="control">
        <input type="text" class="input" name="<%= key %>">
  <% }) %>
  </div>
  <button class="button">Register</button>
</form>
